@charset "UTF-8";

	navigation {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	}

	.slider {
		margin: 0px auto;
		width: 100%;
		max-width: 100%;
		height: 100vh;
		overflow: hidden;
	}

	.slides {
		width: 400%;
		height: 100%;
		display: flex;
		position: relative;
	}

	.slides input {
		display: none;
	}

	.slide {
		width: 25%;
		position: relative;
		transition: 2s;
	}

	.slide img {
		width: 100%;
		height: 100%;
	}

	.manual-navigation {
		position: absolute;
		/* bottom: 20px; */
		width: 100%;
		margin-top: -20px;
		display: flex;
		justify-content: center;
	}

	.manual-btn {
		border: 2px solid #fff;
		padding: 5px;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	}

	.manual-btn:not(:last-child) {
		margin-right: 40px;
	}

	.manual-btn:hover {
		background-color: #fff;
	}

	#radio1:checked ~ .first {
		margin-left: 0;
	}
	#radio2:checked ~ .first {
		margin-left: -25%;
	}
	#radio3:checked ~ .first {
		margin-left: -50%;
	}
	#radio4:checked ~ .first {
		margin-left: -75%;
	}

	.navigation-auto div{
		border: 2px solid #008025;
		padding: 5px;
		border-radius: 10px;
		cursor: pointer;
		transition: 1s;
	}

	.navigation-auto {
		position: absolute;
		width: 800px;
		margin-top: 599px;
		margin-left: 275px;
		display: flex;
		justify-content: center;
	}

	.navigation-auto div:not(:last-child) {
		margin-right: 40px;
	}

	#radio1:checked ~ .navigation-auto .auto-btn1 {
		background-color: #008025;
	}
	#radio2:checked ~ .navigation-auto .auto-btn2 {
		background-color: #008025;
	}
	#radio3:checked ~ .navigation-auto .auto-btn3 {
		background-color: #008025;
	}
	#radio4:checked ~ .navigation-auto .auto-btn4 {
		background-color: #008025;
	}