@charset "UTF-8";

body {
	overflow-x: hidden;
}

main {
  background-color: #fff;
  color: #008025;
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #008025;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #008025;
}

form input[type="submit"] {
  background-color: #008025;
  color: #fff;
  cursor: pointer;
  border: none;
}

#inscricaoLabel {
  margin-top: 10px;
  color: #008025;
}

.text-primary {
  background-color: #008025;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

/* Estilos para a pergunta "É sócio Torcedor?" */
p {
  font-size: 18px;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

input[type="radio"] {
  margin-bottom: 10px;
}

/* Estilos para a label dinâmica */
#inscricaoLabel {
  display: none;
  margin-top: 10px;
}

#inscricaoLabel label {
  display: block;
  margin-bottom: 5px;
}

#inscricaoLabel input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Adicionando estilo quando a label dinâmica é exibida */
#inscricaoLabel.active {
  display: block;
}

.question-container {
  padding: 15px; /* Espaçamento interno */
  border-radius: 8px; /* Borda arredondada */
  margin-bottom: 15px; /* Espaçamento entre perguntas */
}

.question {
  font-size: 18px; /* Tamanho da fonte */
  margin-bottom: 10px; /* Espaçamento inferior da pergunta */
}

.radio-group {
  display: flex; /* Exibição em linha para rótulos e botões de rádio */
}

.radio-group label {
  background-color: #4CAF50; /* Cor de fundo verde */
  color: white; /* Cor do texto branco */
  padding: 10px; /* Preenchimento interno */
  border-radius: 5px; /* Borda arredondada */
  margin-right: 10px; /* Espaçamento à direita entre rótulos */
  cursor: pointer; /* Altera o cursor para indicar clicabilidade */
}

.radio-group input {
  display: none; /* Oculta os botões de rádio padrão */
}

.radio-group input:checked + label {
  /* Estilo para o rótulo quando o botão de rádio está marcado */
  background-color: red;
}
