@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Pacifico&display=swap');
:root{
	--color-neutral-0: #0e0c0c;
	--color-neutral-10: #171717;
	--color-neutral-30: #a8a29e;
	--color-neutral-40: #f5f5f5;
	--color-neutral-50: #008025;
	--bg-footer: #F2F2F2;
}

* {
  font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 1px;
}

footer {
	width: 100%;
	margin-top: 1.25rem;
	color: var(--color-neutral-50);
}

.footer-link {
	text-decoration: none;
}

#footer_content {
	background-color: var(--bg-footer);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 3rem 3.5rem;
}

#footer_contacts img {
	width: 10rem;
	margin-bottom: 0.75rem;
}

#footer_social_media {
	display: flex;
	gap: 2rem;
	margin-top: 1.5rem;
}

#footer_social_media .footer-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	color: var(--color-neutral-40);
	border-radius: 50%;
	transition: all 0.4s;
}
#footer_social_media .footer-link i {
	font-size: 1.25rem;
}
#footer_social_media .footer-link:hover {
opacity: 0.8;
}

#instagram {
	background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook {
	background-color: #4267b3;
}
#whatsapp {
	background-color: #25d366;
}

#tiktok {
	background-color: #010101;
}

#youtube {
	background-color: #F70000;
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	list-style: none;
}

footer li a, footer p {
	font-weight: bolder;
}

.footer-list .footer-link {
	color: var(--color-neutral-30);
}

.footer-list .footer-link:hover {
	color: var(--color-neutral-50);
}

#footer_subscribe {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
#footer_subscribe p{
	color: var(--color-neutral-30);
}

#input_group {
	display: flex;
	align-items: center;
	background-color: var(--color-neutral-40);
	border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
  color: #000; /* Defina a cor do texto para branco */
  cursor: text; /* Altera o estilo do cursor para o padrão de texto */
  text-align: left; /* Alinha o texto à esquerda */
  border: 1px solid var(--color-neutral-30);
  border-radius: 4px 0px 0px 4px;
}
#input_group button {
	background-color: var(--color-neutral-50);
	border: none;
	color: var(--color-neutral-40);
	padding: 0px 1.25rem;
	font-size: 1.125rem;
	height: 100%;
	border-radius: 0px 4px 4px 0px;
	cursor: pointer;
	transition: all 0.4s;
}
#input_group button:hover {
	opacity: 0.8;
}

#footer_copyright {
	display: flex;
	justify-content: center;
	background-color: var(--color-neutral-0);
	font-size: 0.9rem;
	padding: 1.5rem;
	font-weight: 100;
}

