@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

/* Estilização do cabeçalho */
header {
	background-color: #ddd8dd; /* Cor de fundo do cabeçalho */
	color: white;
	padding: 10px 0; /* Espaçamento interno no cabeçalho */
}

.container {
	display: flex; /* Usar display flex para alinhar a logo e o menu */
	justify-content: space-between; /* Alinhar a logo à esquerda e o menu à direita */
	align-items: center; /* Alinhar verticalmente no centro */
	max-width: 1254.83px; /* Largura máxima do container */
	margin: 0 auto; /* Centralizar o container na página */
	padding: 0 20px; /* Espaçamento interno nas laterais do container */
}

.logo img {
	width: 100px; /* Tamanho da logo */
	height: auto;
	max-width: 100%;
	
}

.dp-menu {
  padding: 0;
  list-style-type: none;
  /* background-color: var(--cor-fundo); */
}

.dp-menu ul {
  list-style-type: none;
  padding: 0;
  /* background-color: var(--cor-fundo); */
}

.dp-menu ul li {
	/* background-color: #ddd8dd; */
  display: inline-block;
  position: relative;
}

.dp-menu ul li a{
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 10px;
  display: inline-block;
}

.dp-menu ul li a:hover{
	background-color: #008025;
  border-radius: 4px;
  text-decoration: none;
  color: #fff 
  /* padding: 7px; */
}

/* sub menu */
.dp-menu ul ul{
  display: none;
  position: absolute;
}

.dp-menu ul li:hover ul {
  display: block;
  position: absolute;
  background-color: #008025;
  border-radius: 4px;
  z-index: 1;
  color: #008025;
  /* white-space: nowrap; */
}

/* Estilo para a seção de redes sociais */
.redes-sociais {
  background-color: #008025; /* Cor de fundo verde */
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  height: 70px; /* Tamanho igual à altura da janela do navegador */
}

/* Estilo para a lista de ícones de redes sociais */
.social-icons {
  list-style: none;
  padding: 0;
  text-align: center;
}

/* Estilo para os itens da lista de ícones de redes sociais */
.social-icons li {
  display: inline;
  margin-right: 20px; /* Espaçamento entre os ícones */
}

/* Estilo para os ícones de redes sociais */
.social-icons a {
  color: #fff; /* Cor dos ícones (branco) */
  font-size: 24px; /* Tamanho dos ícones */
  text-decoration: none;
  transition: color 0.3s; /* Efeito de transição da cor ao passar o mouse */
}

/* Estilo para alterar a cor dos ícones ao passar o mouse */
.social-icons a:hover {
  color: #ddd; /* Cor dos ícones ao passar o mouse (tom mais claro) */
}

/* Estilo para o botão de "Voltar para o Topo" */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f0f0f0; /* Cor de fundo, ajuste conforme necessário */
  color: #000;
  font-size: 20px; /* Tamanho do ícone, ajuste conforme necessário */
  width: 40px; /* Largura do botão, ajuste conforme necessário */
  height: 40px; /* Altura do botão, ajuste conforme necessário */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 40px; /* Centraliza verticalmente o ícone */
  z-index: 1000; /* Certifique-se de que o botão fique sobre outros elementos */
}

/* Estilo para o ícone dentro do botão */
.back-to-top i {
  padding-top: 2px; /* Ajuste para centralizar verticalmente o ícone */
}